<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, no reescribir
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    ErrorDocument 404 URL/error/

    # Resto de reglas para el enrutador
    RewriteRule ^(.+)$ main.php?url=$1 [QSA,L]
    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>